name: Test Compression
on:
  push:
  workflow_dispatch:

jobs:
  build:
    name: Build Test
    runs-on:  ubuntu-latest
    steps:
    - uses: kotewar/composite-actions-cache@main
    - uses: kotewar/python-github-action@main

